.App .sidebar {
  width: 16%;
  height: 100vh;
  background-color: #191d2b;
  position: fixed;
}
.App .main-content {
  width: 84%;
  margin-left: 16%;
  background-color: #10121b;
  min-height: 100vh;
  display: grid;
  position: relative;
}
.App .main-content .content {
  margin: 5rem 15rem;
}

.Home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.hero-text span {
  color: #037fff;
}

.h-sub-text {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.icons .icon-holder {
  margin-right: 1rem;
  border: 1px solid red;
  font-size: 1rem;
}
.icons .icon-holder .icon {
  padding: 10px;
  color: #a4acc4;
  transition: all 0.4s ease-in-out;
}
.icons .icon-holder .icon:hover {
  background-color: red;
}

.Navbar {
  height: 100vh;
}
.Navbar .nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Navbar .nav .profile {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  border-bottom: 1px solid #2e344e;
}
.Navbar .nav .profile img {
  width: 70%;
  border-radius: 100%;
  border: 5px solid #2e344e;
  margin-bottom: 1rem;
}
.Navbar .nav .nav-items {
  width: 100%;
}
.Navbar .nav .nav-items .nav-item {
  list-style: none;
  text-align: center;
}
.Navbar .nav .nav-items .nav-item a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  display: block;
  padding: 0.5rem 0;
}
.Navbar .nav .footer {
  width: 100%;
  border: 1px solid #2e344e;
}
.Navbar .nav .footer p {
  text-align: center;
  padding: 1rem 0;
}

.active {
  background-color: #037fff;
}

.Title {
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}
.Title::before {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #0381ff6c;
  width: 6rem;
  height: 0.4rem;
  border-radius: 50px;
}
.Title::after {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #037fff;
  width: 3rem;
  height: 0.4rem;
  border-radius: 50px;
}
.Title span {
  position: absolute;
  top: 15%;
  left: 0;
  font-size: 4.5rem;
  opacity: 0.07;
}

.ImageSection {
  display: flex;
  margin-top: 4rem;
}
.ImageSection .img {
  width: 100%;
  height: 50vh;
}
.ImageSection .img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.ImageSection .about-info {
  margin-left: 2rem;
}
.ImageSection .about-info h4 {
  font-size: 2rem;
}
.ImageSection .about-info .about-text {
  padding: 1rem 0;
}

.about-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.about-details p {
  padding: 0.3rem 0;
}
.btn {
  padding: 1rem 2rem;
  background-color: #037fff;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 1rem;
  position: relative;
}
.btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.btn:hover::after {
  width: 100%;
}

.about-skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.SkillSection .skills-container {
  margin-top: 4rem;
}
.SkillSection .skills-container .skill-title {
  font-size: 1.4rem;
  font-weight: 400;
}
.SkillSection .skills-container .skill-bar {
  display: flex;
  align-items: center;
}
.SkillSection .skills-container .skill-bar .skill-progress {
  width: 100%;
}
.SkillSection .skills-container .skill-bar .skill-progress .progress {
  position: relative;
  width: 100%;
  height: 0.5rem;
  background-color: red;
  margin-left: 1rem;
  background-color: #0381ff3f;
}
.SkillSection .skills-container .skill-bar .skill-progress .progress .inner-progress {
  position: absolute;
  background-color: #037fff;
  height: 100%;
  left: 0;
  bottom: 0;
}

.ContactItem {
  width: 100%;
}
.ContactItem:not(:last-child) {
  margin-bottom: 1rem;
}
.ContactItem .contact {
  display: flex;
  align-items: center;
  height: 8rem;
  background-color: #191d2b;
  padding: 1rem 0;
}
.ContactItem .contact .right-items {
  margin-left: 1rem;
  margin-right: 1rem;
}
.ContactItem .contact img {
  padding: 1rem;
  border: 1px solid #2e344e;
  margin-left: 2rem;
}

.ContactPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 0 0 -100px;
}
.ContactPage .contact-sect {
  width: 100%;
}

.map-sect {
  width: 30vw;
  padding: 1rem;
  background-color: #191d2b;
  margin-right: 1rem;
}
.map-sect .iframe {
  width: 100%;
  height: 100%;
}

.contact-sect {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.portfolis {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
}
@media screen and (max-width: 1600px) {
  .portfolis {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .portfolis {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolis .portfolio .image-data {
  position: relative;
}
.portfolis .portfolio .image-data::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, 0.925);
  transform-origin: center;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolis .portfolio .image-data:hover::before {
  transform: scale(1);
}
.portfolis .portfolio .image-data img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.portfolis .portfolio .image-data .hover-items {
  list-style: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  visibility: hidden;
}
.portfolis .portfolio .image-data .hover-items li a {
  padding: 1rem;
  text-decoration: none;
  font-family: inherit;
  border-radius: 10px;
  background-color: #037fff;
  color: white;
}
.portfolis .portfolio .image-data .hover-items li a:not(:last-child) {
  margin-right: 2rem;
}
.portfolis .portfolio .image-data:hover .hover-items {
  transition: all 0.5s ease-in-out 0.2s;
  visibility: visible;
  top: 50%;
}
.portfolis .portfolio h5 {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  transition: all 0.3s ease-in-out;
}
.portfolis .portfolio h5:hover {
  color: #037fff;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #a4acc4;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

span {
  color: #037fff;
}

/*# sourceMappingURL=App.css.map */
